.nav-link{
  color: white;
}
.navbar{
  background-color: rgba(135, 226, 238, 0.986);
}
.card{
  background-color: #e3f2fd;
}
.thead{
  background-color: rgba(135, 226, 238, 0.986);
}
.navbar-brand{
  font-size: 1.8rem;
}
#warning{
  color:red;
}
.btns{
  background-color:white;
  color: green;
}
button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}
label h2{
  color: blue;
}
.btn{
  margin: 3px;
}
b{
  color: blue;
  margin-bottom: 2px;
}
button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
.form-label,.form-check-label{
  color: #e3f2fd;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.offcanvas-body{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.overflow-scroll::-webkit-scrollbar {
  display: none;
}
.footer2{
  position:fixed;
  bottom: 0;
}
.h11{
  color:rgb(12, 12, 12);
}
.h12{
  color:rgb(239, 163, 11);
}
.h13{
  color:rgb(237, 9, 237);
}
